CarStoreWeb/Service References/CarStoreService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26255/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26255/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26255/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarStoreViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IProductService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IProductService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IProductService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_Destroy_InputMessage">
    <wsdl:part name="parameters" element="tns:Destroy" />
  </wsdl:message>
  <wsdl:message name="IProductService_Destroy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetMaterials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterials" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetMaterials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/Create" message="tns:IProductService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/CreateResponse" message="tns:IProductService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/Read" message="tns:IProductService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ReadResponse" message="tns:IProductService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/Update" message="tns:IProductService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/UpdateResponse" message="tns:IProductService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/Destroy" message="tns:IProductService_Destroy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DestroyResponse" message="tns:IProductService_Destroy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetCategories" message="tns:IProductService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetCategoriesResponse" message="tns:IProductService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterials">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetMaterials" message="tns:IProductService_GetMaterials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetMaterialsResponse" message="tns:IProductService_GetMaterials_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IProductService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/IProductService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IProductService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <soap:operation soapAction="http://tempuri.org/IProductService/Destroy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterials">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:26255/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>